@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 68.5%;
}

::selection{
    color: #0c4a6e;
    background-color: #cffafe;
}

body {
	margin: 0;
	font-family:300 11px/1.4 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    color: #444;
    /* background-image: url('../public/galaxy.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    display: block;
}

@media (min-width: 768px) {
  body {
    background-image: url('/spaces.jpg');
    background-color: #331374ff;
  }
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
